<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pvsagar.smartlockscreen" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCmsKWYR1zAMlAB-NYo5FG6Hx03ZDP-waI" />

        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".LockScreenActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ManageEnvironment"
            android:label="@string/title_activity_manage_environment"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddEnvironment"
            android:label="@string/title_activity_add_environment"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        </activity>
        <activity
            android:name=".SelectLocation"
            android:label="@string/title_activity_select_location"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        </activity>
        <activity
            android:name=".EditEnvironment"
            android:label="@string/title_activity_edit_environment"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        </activity>
        <activity
            android:name="com.haibison.android.lockpattern.LockPatternActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:screenOrientation="user"
            android:theme="@style/Alp.42447968.Theme.Dialog.Light" />
        <activity
            android:name=".SearchLocation"
            android:label="@string/title_activity_search_location"
            android:theme="@style/TransparentTheme" >
        </activity>
        <activity
            android:name=".DismissKeyguardActivity"
            android:label="@string/title_activity_dismiss_keyguard" >
        </activity>

        <provider
            android:name=".environmentdb.EnvironmentProvider"
            android:authorities="com.pvsagar.smartlockscreen.app"
            android:exported="false" />

        <service
            android:name=".services.BaseService"
            android:enabled="true" >
        </service>
        <service
            android:name=".services.GeoFenceIntentService"
            android:exported="false" >
        </service>

        <receiver android:name=".receivers.WifiReceiver" >
            <intent-filter android:priority="100" >
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.BluetoothReceiver" >
            <intent-filter android:priority="100" >
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.AdminActions"
            android:description="@string/device_admin_description"
            android:label="@string/device_admin_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_permissions" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.StartOnBootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
