<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pvsagar.smartlockscreen" >
    <!-- Location can be used as a variable determining the current location, hence Location permission is required -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Bluetooth devices are also used to determine present environment -->
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <!-- Current Wifi networks are also used to determine present environment -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- To switch on Wifi when User wants to enter an environment with a wifi network attached to it -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- The following three permissions are used by Maps, on which location selection and searching is possible -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- To start the service automatically after boot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- Required for restricting access to certain apps. This allows SmartLockScreen to determine the app open currently-->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- For running environment detection and password setting in the background when phone is locked -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Used to draw lockscreen over the Android lock screen -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- Required to expand the status bar programmatically -->
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />

    <!-- Required to dismiss the lockscreen overlay during calls -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- Following 2 permissions are required to read the owner info from Contacts -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBhho9pFJA8NNNYLzcuEDPLc_coM9S-Fn0" />

        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".AddEnvironment"
            android:label="@string/title_activity_add_environment"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
        <activity
            android:name=".SelectLocation"
            android:label="@string/title_activity_select_location"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        </activity>
        <activity
            android:name=".EditEnvironment"
            android:label="@string/title_activity_edit_environment"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
        <activity
            android:name=".SearchLocation"
            android:label="@string/title_activity_search_location"
            android:theme="@style/TransparentTheme" >
        </activity>
        <activity
            android:name=".StorePattern"
            android:label="@string/title_activity_store_pattern"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog.NoActionBar.MinWidth" />
        <activity
            android:name=".DismissKeyguardActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_dismiss_keyguard"
            android:taskAffinity="@string/task_lockscreen"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" >
        </activity>
        <activity
            android:name=".SetMasterPassword"
            android:label="@string/title_activity_set_master_password"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        </activity>
        <activity
            android:name=".SmartLockScreenSettings"
            android:label="@string/title_activity_smart_lock_screen_settings"
            android:theme="@style/HoloWithActionMode" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SetUnknownEnvironmentPassword"
            android:label="@string/title_activity_set_unknown_environment_password"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog.NoActionBar.MinWidth" >
        </activity>
        <activity
            android:name=".ChoosePicture"
            android:label="@string/title_activity_choose_picture"
            android:parentActivityName=".SmartLockScreenSettings"
            android:theme="@style/TransparentThemeNoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pvsagar.smartlockscreen.SmartLockScreenSettings" />
        </activity>

        <provider
            android:name=".environmentdb.EnvironmentProvider"
            android:authorities="com.pvsagar.smartlockscreen.app"
            android:exported="false" />

        <service
            android:name=".services.BaseService"
            android:enabled="true" >
        </service>
        <service
            android:name=".services.GeoFenceIntentService"
            android:exported="false" >
        </service>

        <receiver android:name=".receivers.WifiReceiver" >
            <intent-filter android:priority="100" >
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.BluetoothReceiver" >
            <intent-filter android:priority="100" >
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.AdminActions"
            android:description="@string/device_admin_description"
            android:label="@string/device_admin_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_permissions" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.StartOnBootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.OnUpgradeBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.PhoneStateReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="com.android.deskclock.ALARM_DONE" />
                <action android:name="com.android.deskclock.ALARM_ALERT" />
                <action android:name="com.android.deskclock.ALARM_DISMISS" />
                <action android:name="com.android.deskclock.ALARM_SNOOZE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
